{% extends "base.html" %}
{% load static %}
{% block css %}
{% endblock %}


{% block content %}


<div class="main-section-post">
    <div class="card mb-3">
        <div class="main-card-sections">
            <div>
                <div class="show-input-sections">
                    <div class="create-post-heading">
                        <p class="create-header">Create Post</p>

                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <div>
                                <div class="form-group mb-10">
                                    <label for="exampleInputEmail1" style="margin-bottom: 10px;">Title</label>
                                    <input type="text" class="form-control" name="title" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter Title" required />
                                </div>
                                <div class="form-group mb-10">
                                    <label for="exampleInputEmail1">Post Date</label>
                                    <input type="date" class="form-control" name="post_date"
                                        value="{{ item.post_date|date:'Y-m-d' }}" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter Post Date" />
                                </div>
                                <div class="form-group mb-10">
                                    <label for="exampleFormControlTextarea1"
                                        style="margin-bottom: 10px;">Description</label>
                                    <textarea class="form-control" name="description" id="exampleFormControlTextarea1"
                                        rows="5" placeholder="Enter Description"></textarea>
                                </div>
                                <div class="form-group mb-10">
                                    <label for="exampleFormControlTextarea1"
                                        style="margin-bottom: 10px;">Channels</label><br>
                                    <select id="option" name="option" class="options-select-section-div">
                                        <option value="LinkedIn" {% if 'LinkedIn' in item.option %} selected {% endif %}>
                                            LinkedIn
                                        </option>
                                        <option value="Instagram" {% if 'Instagram' in item.option %} selected {% endif %}>
                                            Instagram
                                        </option>
                                        <option value="Facebook" {% if 'Facebook' in item.option %} selected {% endif %}>
                                            Facebook
                                        </option>
                                    </select><br>
                                </div>

                                <div class="form-group mb-10">
                                    <label for="exampleInputEmail1" style="margin-bottom: 10px;">Page ID</label>
                                    <input type="text" class="form-control" name="page_id" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter Page id" value="{{item.page_id}}"
                                        required />
                                </div>

                                <div class="mb-10">
                                    <label for="formFile" class="form-label" style="margin-bottom: 10px;">Image</label>
                                    <input class="form-control" type="file" name="image" id="formFile" required />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btnsection-for-submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}